body{
    background-color: blue;
    width: 90%;
.main{
    height: 600px;
    width: 1300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
}
.au, .gb, .ca, .cn, .nl, .fr{
    width: 360px;
    background-color: white;
    border-radius: 5px;
    padding: 10px 10px 15px 10px;
    font-weight: bold;
    font-size: 1.2em;   
}
a{
    text-decoration: none;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;    
}
img{
    width: 360px;
    border-radius: 10px;
}